@media screen and (min-width: 325px) and (max-width: 768px) {
  .updates .updates__footages > .div3 {
    display: none;
  }
  .updates .updates__footages .div1, .updates .updates__footages .div2 {
    display: none;
  }
  .catalog {
    flex-direction: column-reverse;
    background-image: url(../images/catalog/background_banner_1.svg);
    padding: 12px 30px;
  }
  .catalog .catalog__sliderBlock {
    display: none;
  }
  .catalog .catalog__disclaimer {
    margin-bottom: auto;
  }
  .catalog .catalog__disclaimer .catalog__disclaimerInfo {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444240;
    width: auto;
    margin-bottom: 0px;
  }
  .popularModels {
    display: flex;
    flex-direction: column;
  }
  .popularModels .popularModels__exampleBlock {
    flex-direction: column;
    align-items: center;
  }
  .header {
    justify-content: space-around;
  }
  .header .header__logoBlock {
    margin-left: 0px;
  }
  .header .header__buttonsBlock {
    margin-right: 0px;
  }
  .header .header__navigation {
    margin: 0 10px;
    display: none;
  }
  .currentCollection__example {
    display: none;
  }
  .footer {
    flex-direction: column;
    height: auto;
  }
  .header__logoBlock, .updates__block {
    margin-left: 10px;
  }
  .currentCollection {
    height: 630px;
    display: flex;
    background: #FDFDFB;
    margin-bottom: 76px;
    background-image: url(../images/currentCollection/example/Ellipse.svg);
    background-repeat: no-repeat;
    background-position: 53%;
  }
  .currentCollection__block {
    display: flex;
    flex-direction: column;
    width: 408px;
    margin: auto;
  }
  .updates .updates__block {
    margin: 0px 0px;
    padding: 5px;
  }
}